<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>

<body>
    <%- include('navbar.ejs') %>
        <div class="container mx-auto px-4">

            <div class="row mx-auto">
                <div class="card pt-20">
                    <div class="grid h-56 grid-cols-4 content-start gap-10">
                        <div>
                            <h1>hello</h1>
                        </div>
                        <div>
                            <h1>hello</h1>
                        </div>
                        <div>
                            <h1>hello</h1>
                        </div>
                        <div>
                            <h1>hello</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</body>

</html>